@import "tailwindcss";

body {
  margin: 0;
  font-family:
    "Segoe UI",
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
